* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: MyCustomFont;
    src: url('images/FontsFree-Net-AvertaDemoPECuttedDemo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: CustomFont2;
    src: url('images/proximanova_regular.ttf') format('truetype');
}

body {
    font-family: MyCustomFont;
    background-color: #fff;
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-thumb {
    background-color: #848485;
}

.container-section {
    position: relative;
}

.container-section header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    position: relative;
}

.container-section header .logo h3 {
    font-size: 27.15px;
    font-weight: 400;
}

.container-section header .logo h3 span {
    font-weight: 700;
    font-family: CustomFont2;
}

.container-section header ul {
    display: flex;
}

.container-section header ul li {
    list-style-type: none;
    padding: 40px 30px 40px 30px;
    font-size: 16px;
    font-weight: 400;
}

.container-section header ul li a {
    text-decoration: none;
    color: #000;
}

.container-section .first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container-section .first-section-left {
    width: 580px;
    padding: 0 0 0 100px;
    position: relative;
}

.container-section .first-section .first-section-left h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 49.44px;
    color: #000;
}

.container-section .first-section .first-section-left p {
    font-size: 16px;
    margin: 0;
    font-weight: 400;
    line-height: 25.6px;
    color: rgba(86, 86, 86, 1);
    padding: 30px 0;
}

.container-section .first-section .first-section-left button {
    background-color: rgba(38, 57, 237, 1);
    color: #fff;
    outline: none;
    border: none;
    /* width: 215px;
    height: 65px; */
    padding: 20px 40px 20px 40px;
    border-radius: 60px;
    font-size: 20px;
    z-index: 1;
    font-weight: 700;
    position: relative;
}

.container-section .first-section .first-section-right {
    position: relative;
}

.container-section .first-section .first-section-right img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

.container-section .first-section .first-section-left .dor-ornament {
    position: absolute;
    background-image: url('images/Dot-Ornament.svg');
    background-size: cover;
    background-repeat: no-repeat;
    top: 86%;
    left: 8.2%;
    width: 404px;
    height: 154px;
}

.container-section .first-section .first-section-right .rectangle {
    position: absolute;
    background-image: url('images/Rectangle.svg');
    background-size: cover;
    background-repeat: no-repeat;
    top: 83%;
    left: 60%;
    width: 178px;
    height: 178px;
}

.container-section .first-section .first-section-right .ellipse {
    position: absolute;
    background-image: url('images/Ellipse.svg');
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: -8.2%;
    width: 129px;
    height: 129px;
}

.container-section .our-client {
    position: relative;
    padding: 130px 100px 50px 100px;
}

.container-section .our-client h2 {
    font-size: 40px;
    line-height: 49.44px;
    font-weight: 700;
}

.container-section .our-client .our-client-companies {
    display: flex;
    justify-content: space-between;
}

.container-section .our-client .our-client-companies p {
    width: 336px;
    padding-top: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    color: rgba(117, 117, 117, 1);
}

.container-section .great-since {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px 50px 100px;
}

.container-section .great-since .great-since-left {
    position: relative;
}

.container-section .great-since .great-since-left img {
    position: relative;
    z-index: 1;
}

.container-section .great-since .great-since-left .ellipse-great-since {
    position: absolute;
    background-image: url("./images/ellipse-great-since.svg");
    top: 70%;
    right: 3%;
    width: 129px;
    height: 129px;
}

.container-section .great-since .great-since-left .play-button {
    position: absolute;
    background-image: url("./images/play-rounded-button.svg");
    top: 43.8%;
    left: 48.6%;
    transform: translate(-50%, -50%);
    width: 78px;
    height: 78px;
    cursor: pointer;
    z-index: 1;
}

.container-section .great-since .great-since-right {
    position: relative;
}

.container-section .great-since .great-since-right h3 {
    width: 448px;
    color: #000;
    font-size: 40px;
    line-height: 49.44px;
    font-weight: 700;
    padding-bottom: 35px;
    position: relative;
}

.container-section .great-since .great-since-right p {
    width: 532px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    color: rgba(86, 86, 86, 1);
    position: relative;
}

.container-section .great-since .great-since-right .rectangle-great-since {
    position: absolute;
    background-image: url("./images/rectangle-great-since.svg");
    width: 178px;
    height: 178px;
    top: -8.5%;
    left: -7%;
}

.container-section footer {
    position: relative;
    padding: 120px 100px 70px 100px;
}

.container-section footer .footer-section {
    border-top: 1px solid rgba(228, 228, 228, 1);
    border-bottom: 1px solid rgba(228, 228, 228, 1);
    padding: 65px 0 35px 0;
    display: flex;
    justify-content: space-between;
}

.container-section footer .footer-section .footer-first h3 {
    font-size: 27.15px;
    font-weight: 400;
}

.container-section footer .footer-section .footer-first .footer-first-social {
    display: flex;
}

.container-section footer .footer-section .footer-first .footer-first-social img {
    padding-right: 18px;
    padding-top: 50px;
    cursor: pointer;
}

.container-section footer .footer-section .footer-first h3 span {
    font-weight: 700;
    font-family: CustomFont2;
}

.container-section footer .footer-section .footer-first p {
    width: 270px;
    font-size: 14px;
    margin: 0;
    line-height: 22.4px;
    color: rgba(86, 86, 86, 1);
    padding-top: 25px;
}

.container-section footer .footer-section .footer-second h4,
.container-section footer .footer-section .footer-third h4,
.container-section footer .footer-section .footer-fourth h4,
.container-section footer .footer-section .footer-five h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24.72px;
}

.container-section footer .footer-section .footer-second ul,
.container-section footer .footer-section .footer-third ul,
.container-section footer .footer-section .footer-fourth ul,
.container-section footer .footer-section .footer-five ul {
    padding-top: 25px;
}

.container-section footer .footer-section .footer-second ul li,
.container-section footer .footer-section .footer-third ul li,
.container-section footer .footer-section .footer-fourth ul li,
.container-section footer .footer-section .footer-five ul li {
    list-style-type: none;
}

.container-section footer .footer-section .footer-second ul li a,
.container-section footer .footer-section .footer-third ul li a,
.container-section footer .footer-section .footer-fourth ul li a,
.container-section footer .footer-section .footer-five ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 400;
    line-height: 28px;
    font-size: 14px;
}

.container-section footer>p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    color: rgba(164, 164, 164, 1);
    text-align: center;
    align-items: center;
    position: absolute;
    top: 92.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-section .newsletter {
    position: relative;
    padding: 30px 100px;
}

.container-section .newsletter .newsletter-left {
    padding-left: 100px;
}

.container-section .newsletter .newsletter-left h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 49.44px;
    color: #000;
}

.container-section .newsletter .newsletter-left p {
    font-size: 18px;
    margin: 0;
    font-weight: 400;
    line-height: 28.8px;
    color: rgba(117, 117, 117, 1);
}

.container-section .newsletter .rectangle-newsletter {
    /* position: absolute; */
    /* background-image: url("images/rectangle-newsletter.svg"); */
    background-color: rgba(244, 249, 255, 1);
    background-size: auto cover;

    border-radius: 75px;
    width: 100%;
    height: 292px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* z-index: 1; */
}

.container-section .newsletter .newsletter-right .rectangle-newsletter-right {
    position: absolute;
    background-image: url("images/rectangle-newsletter-right.svg");
    width: 498px;
    height: 292px;
    top: 0;
    right: 0;
}

/* .container-section .newsletter .newsletter-dots {
    position: absolute;
    background-image: url("images/newsletter-dots.svg");
    width: 175px;
    height: 154px;
    right: -2%;
    top: -19%;
}
.container-section .newsletter .rectangle2-newsletter {
    position: absolute; 
    background-image: url("images/rectangle2-newsletter.svg");
    width: 178px;
    height: 178px;
    left: -2%;
    top: 50%;
    z-index: 0;
} */
.container-section .newsletter .newsletter-right input {
    position: relative;
    border-radius: 60px;
    width: 479px;
    height: 80px;
    border: none;
    outline: none;
    padding: 0 35px;
    font-size: 16px;
    box-shadow: 10px 20px 50px 0px rgba(0, 0, 0, 0.15);
    left: 10%;
}

.container-section .newsletter .newsletter-right input::placeholder {
    color: rgba(149, 149, 149, 1);
}

.container-section .newsletter .newsletter-right button {
    position: relative;
    right: 17.4%;
    padding: 20px 40px 20px 40px;
    border-radius: 60px;
    outline: none;
    border: none;
    background-color: rgba(38, 57, 237, 1);
    color: #fff;
    cursor: pointer;
}

.container-section .happy-client {
    position: relative;
    padding: 50px 100px 50px 100px;
}

.container-section .happy-client .happy-client-header h3 {
    font-size: 40px;
    font-weight: 700;
    color: #000;
    line-height: 49.44px;
    text-align: center;
}

.container-section .happy-client .happy-client-header p {
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    line-height: 28.8px;
    text-align: center;
    color: rgba(117, 117, 117, 1);
    padding-top: 20px;
}

.container-section .happy-client .happy-client-main-section {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 10px;
}

.container-section .happy-client .happy-client-main-section img {
    position: relative;
    z-index: 1;
}


.container-section .happy-client .happy-client-main-section .happy-client-main-first-ellipse {
    position: absolute;
    background-image: url("images/Ellipse\ 94.svg");
    width: 120px;
    height: 120px;
    top: 66%;
    left: 2%;
}
.container-section .happy-client .happy-client-main-section .happy-client-main-first-ellipse {
    position: absolute;
    background-image: url("images/Dot.svg");
    width: 196px;
    height: 154px;
    top: 12%;
    left: 22%;
}

.container-section .happy-client .happy-client-main-section .happy-client-main-second {
    width: 412px;
    padding-top: 110px;
}

.container-section .happy-client .happy-client-main-section .happy-client-main-second h4 {
    font-size: 24px;
    line-height: 29.66px;
    color: #000;
    font-weight: 700;
    padding-bottom: 18px;
}

.container-section .happy-client .happy-client-main-section .happy-client-main-second p {
    font-weight: 400;
    line-height: 25.6px;
    font-size: 16px;
    color: rgba(86, 86, 86, 1);
    padding-bottom: 30px;
}
.container-section .happy-client .happy-client-main-section .happy-client-main-second .happy-client-main-second-pagination{ 
    display: flex;
}
.container-section .happy-client .happy-client-main-section .happy-client-main-second .happy-client-main-second-pagination svg{ 
    cursor: pointer;
    margin-right: 25px;
}